* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid grey;
}

header ul li:last-child {
    border-bottom: 3px solid blue;
}

header ul li:last-child a {
    color: blue;
}

.header-container {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

img {
    vertical-align: middle;
}

.title {
    display: inline;
}

main {
    padding-top: 150px;
    margin-left: 110px;
    margin-right: 110px;
}

main a {
    color: blue;
    text-decoration: none;
}

ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 30px;
    padding-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: grey;
    margin: 0;
}

footer {
    background-color: #EEEEEE;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
